* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards {
    /* height: 100vh;
    width: 100vw; */
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.netflixcard {
    height: 30vh;
    width: 18vw;
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.netflixcard:hover {
    transform: translateZ(200px);
}

.card_img {
    height: 70%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0 0px;
}

.card_info {
    text-align: center;
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;
}